.navbar-style {
  width: 20vw;
  height: 100%;
  color: white;
  background-color: rgb(45, 7, 102);
  margin-top: -10px;
}

nav {
  width: 50%;
  margin: 50px auto;
}

nav div {
  padding: 10px;
}

.dash-style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  font-size: 24px;
}

.dash-icon-style {
  width: 30px;
  background: transparent;
  border: none;
}

.dashboard-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-style {
  display: flex;
  background-color: rgb(97, 97, 153);
  padding: 10px;
  border-radius: 10px;
}

img[alt="man"] {
  border-radius: 50%;
  height: 50px;
}

.profile-info {
  align-self: center;
  margin-left: 10px;
}

.designation {
  opacity: 0.6;
}

.chevrondown-style {
  width: 24px;
  background: transparent;
  border: none;
  margin-left: auto;
  align-self: center;
}

